# REQUIRED: set this to your own mainnet RPC
RPC_URL=https://mainnet.infura.io/v3/YOUR_KEY_HERE

# Optional
# Integration tests fork from this block to impersonate a known funded EOA.
# You can change this, but related tests will not pass.
FORK_BLOCK_NUMBER=22876667
ANVIL_VERBOSITY=-vvvv
